In [1]:
import requests
import json
import pandas as pd
from pprint import pprint
from config_car import api_key

# Pull csv with business IDs
busIDs_file = 'restaurantIDs.csv'
bus_ids = pd.read_csv(busIDs_file)
bus_ids

                Business_ID
0    y6Y5M0sjwfPlDOOs4A_mcQ
1    pDr9PC7jD7LBnLgJxD_4wQ
2    zZZjMOQLYvvsm87geCHWyw
3    hKI6t4cWl1hvtM1zjd1URg
4    VvYtvrRnKJ8UUvJbRHYV5Q
..                      ...
995  TAUBjPw0kR0MB4nCDvCdkg
996  VPsb0FhEsERU1HnbXOIA8Q
997  odZ5IAO4Mi40pVmZN86rsg
998  G5RlHeaE0ZxrxDIsBES49Q
999  _Vb2IHpH7w5MBKMZWivlhA

[1000 rows x 1 columns]

In [13]:
business_df = pd.DataFrame(bus_ids)
bus_df = business_df.sample(10)
bus_df

                Business_ID
116  ZgGqk1aPRGJb4jv4H8WtoA
471  ZSuz8QjmFtvj_55D7HsmYA
400  hKsr7nX5y0eNTznpC7R6Dw
428  _MM0tCS3UX8PA9pmfXlcpg
751  KXORrvXz1wIY-A6pVnsSxg
241  Uwv6QgqmMNic39GqlRBP6w
658  JAkHHl4mm1Fr0QiiRbzb0A
306  1MlcR2OUNQXOSi9mBdBuug
953  zZTKJpsOnW3NZME1yMDfjg
605  M0FLyb-pis1XsUdppxzsQg

In [17]:
#

names = list()
coordinates_lat = list()
coordinates_long = list()
indices = list()
categories = list()
review_count = list()
rating = list()
price = list()
errors = list()

headers = {'Authorization': 'bearer %s' % api_key}


for idx,row in bus_df.iterrows():
    bus_id = row.Business_ID
    url = f'https://api.yelp.com/v3/businesses/{bus_id}'
    try:
        resp = requests.get(url,headers=headers)
        indices.append(idx)
        names.append(resp['name'])
        coordinates_lat.append(resp['coordinates']['latitude'])
        coordinates_long.append(resp['coordinates']['longitude'])
        categories.append(rep['categories'][0]['alias'])
        review_count.append(rep['review_count'])
        rating.append(rep['rating'])
        price.append(rep['price'])
        bus_df = pd.DataFrame({
            'index':indices,
            'name':names,
            'coordinates_lat':latitude,
            'coordinates_long':longitude,
            'categories':categories,
            'review_count':review_count,
            'rating':rating,
            'price':price
        })
    except:
        errors.append(resp)
    
bus_df.head()

                Business_ID
116  ZgGqk1aPRGJb4jv4H8WtoA
471  ZSuz8QjmFtvj_55D7HsmYA
400  hKsr7nX5y0eNTznpC7R6Dw
428  _MM0tCS3UX8PA9pmfXlcpg
751  KXORrvXz1wIY-A6pVnsSxg

In [15]:
len(errors)

10